.dropdown{
    width: 200px;
    position:absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown li{
    text-decoration: none;
}

.dropdown li:hover{
    color: red;

}

.dropdown-clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}